* {
  box-sizing: border-box; }

body {
  background: #C1C1C1;
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px; }

h2 {
  margin-top: 5em; }

.toggle {
  height: 36px; }
  .toggle .label {
    width: 75px;
    height: 36px;
    border-radius: 30px;
    border-width: 1px; }
  .toggle .label__text {
    line-height: 36px; }
  .toggle .handle:after {
    top: 2px;
    width: 30px;
    height: 30px; }
  .toggle .handle--left:after {
    left: 2px; }
  .toggle .handle--right:after {
    right: 2px; }
  .toggle.toggle--text-inside .handle--left .label__text {
    padding-left: 30px; }
  .toggle.toggle--text-inside .handle--right .label__text {
    padding-right: 30px; }
  .toggle.toggle--text-outside .handle--left .label__text {
    left: 75px; }
  .toggle.toggle--text-outside .handle--right .label__text {
    right: 75px; }
  .toggle.toggle--label-on-left .handle--right .label__text {
    right: 75px; }
  .toggle .toggle-radio {
    display: none; }
  .toggle .label {
    cursor: pointer;
    position: absolute;
    display: block;
    background: white;
    border-style: solid;
    border-color: #8B4513;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  .toggle .handle:after {
    content: "";
    display: inline-block;
    position: absolute;
    background: #8B4513;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .toggle .toggle-radio:checked + .label {
    z-index: -1; }

.toggle--lrg {
  height: 51px; }
  .toggle--lrg .label {
    width: 112.5px;
    height: 51px;
    border-radius: 45px;
    border-width: 1px; }
  .toggle--lrg .label__text {
    line-height: 51px; }
  .toggle--lrg .handle:after {
    top: 2px;
    width: 45px;
    height: 45px; }
  .toggle--lrg .handle--left:after {
    left: 2px; }
  .toggle--lrg .handle--right:after {
    right: 2px; }
  .toggle--lrg.toggle--text-inside .handle--left .label__text {
    padding-left: 45px; }
  .toggle--lrg.toggle--text-inside .handle--right .label__text {
    padding-right: 45px; }
  .toggle--lrg.toggle--text-outside .handle--left .label__text {
    left: 112.5px; }
  .toggle--lrg.toggle--text-outside .handle--right .label__text {
    right: 112.5px; }
  .toggle--lrg.toggle--label-on-left .handle--right .label__text {
    right: 112.5px; }

.toggle--sml {
  height: 26px; }
  .toggle--sml .label {
    width: 50px;
    height: 26px;
    border-radius: 20px;
    border-width: 1px; }
  .toggle--sml .label__text {
    line-height: 26px; }
  .toggle--sml .handle:after {
    top: 2px;
    width: 20px;
    height: 20px; }
  .toggle--sml .handle--left:after {
    left: 2px; }
  .toggle--sml .handle--right:after {
    right: 2px; }
  .toggle--sml.toggle--text-inside .handle--left .label__text {
    padding-left: 20px; }
  .toggle--sml.toggle--text-inside .handle--right .label__text {
    padding-right: 20px; }
  .toggle--sml.toggle--text-outside .handle--left .label__text {
    left: 50px; }
  .toggle--sml.toggle--text-outside .handle--right .label__text {
    right: 50px; }
  .toggle--sml.toggle--label-on-left .handle--right .label__text {
    right: 50px; }

.toggle--positive-negative .handle--right,
.toggle--positive-neutral .handle--right {
  background: green; }

.toggle--positive-negative .handle--left {
  background: red; }

.toggle--text-inside .label__text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px; }

.toggle--text-outside {
  margin-left: 100px; }
  .toggle--text-outside .handle--left .label__text {
    text-align: left;
    padding-left: 5px; }
  .toggle--text-outside .handle--right .label__text {
    text-align: right;
    padding-right: 5px; }
  .toggle--text-outside .label__text {
    position: absolute;
    width: 110px; }

.toggle--label-on-left {
  margin-left: 100px; }
  .toggle--label-on-left .handle--left .label__text {
    display: block;
    width: 100px;
    height: 100%;
    left: -100px;
    position: absolute; }
  .toggle--label-on-left .handle--right .label__text {
    text-align: right;
    padding-right: 5px; }
  .toggle--label-on-left .label__text {
    position: absolute;
    width: 110px; }

/*# sourceMappingURL=toggles-demo.css.map */
