// Just for the demo

* {
	box-sizing: border-box;
}

body {
	background: #DBE7F1;
	font-family: sans-serif;
	max-width: 800px;
	margin: auto;
	padding: 20px;
}

h2 {
	margin-top: 5em;
}

@import "../toggles";